<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>testAdd</servlet-name>
        <servlet-class>test.testAdd</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>demo</servlet-name>
        <servlet-class>Servlet.demo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>home</servlet-name>
        <servlet-class>controller.home</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AuthenticationController</servlet-name>
        <servlet-class>controller.login.AuthenticationController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfirmEmail</servlet-name>
        <servlet-class>controller.sendEmail.ConfirmEmail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NextConfirmEmail</servlet-name>
        <servlet-class>controller.sendEmail.NextConfirmEmail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sendEmaillSu</servlet-name>
        <servlet-class>controller.sendEmail.sendEmaillSu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>print</servlet-name>
        <servlet-class>testBlaBla.print</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>index</servlet-name>
        <servlet-class>controller.index</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOutController</servlet-name>
        <servlet-class>controller.logout.LogOutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>nextForgotPass</servlet-name>
        <servlet-class>controller.Passwor.nextForgotPass</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>changePasswor</servlet-name>
        <servlet-class>controller.Passwor.changePasswor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>homeBQT</servlet-name>
        <servlet-class>controller.BQT.homeBQT</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>indexBQT</servlet-name>
        <servlet-class>controller.BQT.indexBQT</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateAccount</servlet-name>
        <servlet-class>controller.BQT.updateAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addAccountBQT</servlet-name>
        <servlet-class>controller.BQT.addAccountBQT</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>changePassworBQT</servlet-name>
        <servlet-class>controller.Passwor.changePassworBQT</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>recycleBinBQT</servlet-name>
        <servlet-class>controller.BQT.recycleBinBQT</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>testAdd</servlet-name>
        <url-pattern>/testAdd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>demo</servlet-name>
        <url-pattern>/demo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>home</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AuthenticationController</servlet-name>
        <url-pattern>/AuthenticationController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfirmEmail</servlet-name>
        <url-pattern>/ConfirmEmail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NextConfirmEmail</servlet-name>
        <url-pattern>/NextConfirmEmail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sendEmaillSu</servlet-name>
        <url-pattern>/sendEmaillSu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>print</servlet-name>
        <url-pattern>/print</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>index</servlet-name>
        <url-pattern>/index</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOutController</servlet-name>
        <url-pattern>/LogOutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>nextForgotPass</servlet-name>
        <url-pattern>/nextForgotPass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>changePasswor</servlet-name>
        <url-pattern>/changePasswor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>homeBQT</servlet-name>
        <url-pattern>/homeBQT</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>indexBQT</servlet-name>
        <url-pattern>/indexBQT</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateAccount</servlet-name>
        <url-pattern>/updateAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addAccountBQT</servlet-name>
        <url-pattern>/addAccountBQT</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>changePassworBQT</servlet-name>
        <url-pattern>/changePassworBQT</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>recycleBinBQT</servlet-name>
        <url-pattern>/recycleBinBQT</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
